<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<body data-ng-app="myPageApp" data-ng-controller="myPageController">

<div style="align:center">
<h2 style="text-decoration: underline">Login Form</h2>
<table>
	<tr>
		<td width=5%><b>UserName</b></td>
		<td width=95%><input type="text" placeholder="Enter Username" data-ng-model="username" data-ng-keypress="checkIfEnterKeyWasPressed($event)"></td>
	</tr>
	<tr>
		<td width=5%><b>Password</b></td>
		<td width=95%><input type="password" placeholder="Enter Password" data-ng-model="password" data-ng-keypress="checkIfEnterKeyWasPressed($event)"></td>
	</tr>
	<tr>
		<td></td>
		<td style="align:center;width:100%">
			<button type="submit" data-ng-click="login()">Login</button>
			<button type="submit" data-ng-click="register()">Register</button>
		</td>
	</tr>
</table>
</div>
</body>

<script src="detail.js"></script>
</html>